<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><?= $var->global->site_name; ?></title>
    <style>
        .red{
            color : red;
        }
    </style>
</head>
<body>
<a href="?part=edit">Edit</a>
<table>
    <thead>
        <tr>
            <td>Distance</td>
            <td>Nom</td>
        </tr>
    </thead>
    <tbody>
        <? foreach($var->data as $value){ ?>
            <tr <? if($value->partner) echo "class='red'" ?>>
                <td><?= round($value->distance); ?> km</td>
                <td><?= $value->label; ?></td>
            </tr>
        <? } ?>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td>Nombre propositions</td>
        <td>Nom</td>
    </tr>
    </thead>
    <tbody>
    <? foreach($var->partnerList as $value){ ?>
    <tr>
    <td><?= $value->nb_prop; ?></td>
    <td><?= $value->name; ?></td>
    </tr>
    <? } ?>
    </tbody>
</table>
</body>
</html>